* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 20px;
}
.form-container {
    width: 100%;
    max-width: 600px;
    background-color: white;
    justify-self: center;
    padding: 50px;
    margin-top: 70px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 25px;
}
.texts {
    text-align: center;
}

.sign {
    color: orange;
}
input {
    /* height: 100%; */
    padding :10px;
    margin-top: 8px;
    padding-left: 30px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input:hover {
    border: 1px solid orange;
}
.image {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 11px;
    top: 19px;

}

.input-container {
    position: relative;
    width: 100%;
}

button {
    padding: 15px;
    border: none;
    background-color: orange;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: darkorange;
}
.small {
    text-align: center;
 }
.span {
    color: orange;
    cursor: pointer;
    margin-left: 3px;
}